html{
  font-size:10px;
}

p1{
  font-size:1em;
  color: red;
}

html{
  font-size:10px;
}

p2{
  font-size:2em;
  color: orange;
}

html{
  font-size:10px;
}

p3{
  font-size:3em;
  color: yellow;
}
