body{
     font-size: 4em;
     background-color:
}

.rgb{
     color: rgb(100%, 40%, 10%) ;
}

.rgba{
      color: rgba(100%, 40%, 10%, .5) ;
 }
 
 .hsl{
      color: hsl(370, 100%, 10%, 50%) ;
 }
 
 .hsla{
      color: hsla(370, 100%, 50%, .5) ;
}
