*{
  margin:0;
  padding:0;
}
/* html{
}

h1{
  font-size:30px;
}

h1{
font-size:1rem;
border:0.1rem black soild;
padding: 1rem;
}

h1{
font-size:1em;
border:0.1em black soild;
padding: 1em;  
} */

h1{
  background:blue;
  height:100vh;
}
